body{
    margin: 0;
    padding: 0;
}
header{
    width: 89%;
    margin: 0 auto;
    padding-bottom: 20px;
}
header h1{
    display: block;
    text-align: center;
    font-family: Verdana;
    font-size: 2em;
    letter-spacing: 1px;
}
nav{
    width: 320px;
    margin:0 auto;
}
nav a{
    text-decoration: none;
}
nav li{
    display: inline;
    margin: 10px;
    font-family: cursive;
    font-size: 1.5em;  
}
nav li:hover{
    font-weight: bold;
}
header img{
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

#content{
    position: relative;
    width: 100%;
    min-height: 338px;
    overflow: scroll;
}
#leftPanel{
    float: left;
    width: 15%;
    min-height: 600px;
    margin-left: 5%;
    background-color: rgba(155,10,10,0.8);
    border-right: 2px solid black;
    border-top-left-radius: 15px;
}
.leftPanelImage{
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin: 20px;
}
#articleWrapper{
    float: left;
    width: 74%;
    min-height: 100px;
}
#articleWrapper article h1{
    margin: 10px;
    display: block;
    font-family: serif;
    font-size: 3em;
    text-align: center;
    border-bottom: 1px solid black;
}
#articleWrapper article *{
    padding: 0 30px 0 30px;
}
#bannerWrapper{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#banner{
    margin-top: -150px;
    width: 100%;
    height: auto;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 10px 0 10px 0;
    background-color: rgb(40,40,40);
}
footer *{
    color: white;
    font-family: cursive;
}
#footerLogo{
    position: absolute;
    left: 10%;
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 0px;
}
footer span{
    position: absolute;
    left: 7.1%;
    top: 65px;
}
footer nav{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
#socialWrapper{
    position: absolute;
    top: 0;
    right: 70px;
    width: 180px;
}
#socialWrapper h3{
    display: block;
    text-align: center;
    margin: 4px;
}
#socialWrapper img{
    width: 40px;
    height: auto;
    margin-right: 15px;
}
    
#bioPicWrapper{
    float: left;
    width: 50%;
    height: 400px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
#bioPic{
    margin: -150px 0 0 -150px;
}
#bioContent{
    font-family: Verdana;
    float: left;
    width: 40%;
    min-height: 100px;
    padding: 20px;
}
#bioContent p{
    font-size: 0.8em;
}
#bioContent h1{
    margin-top: -10px;
}
#contactPicWrapper{
    float: left;
    width: 50%;
    height: 338px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
#contactPic{
    width: 100%;
    height: auto;
}
#contactContent{
    font-family: sans-serif;
    float: left;
    width: 40%;
    min-height: 100px;
    padding: 20px;
}

#galleryWrapper{
    width: 100%;
    height: 100%;
}
#galleryWrapper h2{
    margin: 0px;
    display: block;
    text-align: center;
    font-family: Verdana;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.galPic{
    width: 280px;
    height: auto;
    margin: 15px;
}